<mat-card>
    <mat-spinner *ngIf="Loading"></mat-spinner>


    <mat-form-field appearance="outline" color="accent" class="search-box">
        <mat-label>Search posts</mat-label>
        <input matInput [(ngModel)]="searchTerm" placeholder="Type to search..." />
      </mat-form-field>
     
    <mat-accordion multi="true" *ngIf="posts.length>=0">
       <mat-expansion-panel *ngFor="let post of filteredPosts()"
                     (opened)="onView(post)">
           <mat-expansion-panel-header>{{post.title}}
            <span class="spacer"></span>
      <mat-icon aria-label="Views">visibility</mat-icon>
      <span>{{ post.views || 0 }}</span>
           </mat-expansion-panel-header>
           <div class= "post-image">  
            <img [src]= "post.imagePath" [alt]= "post.title">  
          </div>  
           <P>{{post.content}}</P>
           <mat-action-row *ngIf= "userIsAuthenticated && userId === post.creator">  
               <a mat-flat-button color="accent" [routerLink] = "['/edit',post.id]">EDIT</a>  
               <button mat-flat-button color="accent"(click)="onDelete(post.id)">DELETE</button>


               <button mat-icon-button color="warn" matTooltip="Like this post" (click)="onLike(post)">
                <mat-icon>thumb_up</mat-icon>
              </button>
              <span>{{ post.likes || 0 }}</span>


           </mat-action-row>
       </mat-expansion-panel>
   </mat-accordion>




   <mat-paginator [length] = "totalposts" [pageSize]= "postperpage" [pageSizeOptions]= "pageSizeOption" (page)= "onChangedPage($event)" *ngIf = "posts.length > 0">  
   
   </mat-paginator>  




   <p *ngIf="!Loading && posts.length <= 0">No post added yet</p>




</mat-card>





















