mat-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFBF5;
  }

  mat-accordion {
    width: 100%;
  }

  mat-expansion-panel {
    background-color: #F7EFE5;
    color: #000;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  mat-expansion-panel-header {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }

  p {
    font-size: 16px;
    margin: 10px 0;
  }

  mat-action-row {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  }

  button[mat-flat-button] {
    background-color: #FFFBF5;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
  }
